<style>

 body {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(144, 176, 208));
	background-repeat: no-repeat; 
 	background-size: cover;
	/* color: #fff;
	background: linear-gradient(-45deg, rgb(239, 175, 78),rgb(29, 98, 167),rgb( 91, 92, 94));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite; */
}
</style> 
		  <div class="container-fluid height_newpwd">
		
		<div class="row">
			<div class="col-md-5 col-sm-5 pull-left" >
				<img src="ojas-logo.png" alt="Ojas" class="img-responsive"
						width="260px" height="200px">
			</div>
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-5 col-sm-5 para">
				<p class="pull-right"><span class="yellow">Experience Certainty:</span>IT Services Business Solutions
					Consulting Services</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4"></div>
			<div class="col-md-4 login">
				<h2 class="h2">Forgot Password Page</h2>
                     <form name="newpwdfrm" >
						     <div class="form-group">
						      <label for="otp">OTP:</label>
						      <input type="text" class="form-control" id="otp" placeholder="Enter Your OTP" name="otp" ng-model="newpwd.otp" required>
						      <span  ng-show="newpwdfrm.otp.$touched && newpwdfrm.otp.$error.required">*
						         Email Id Is Required</span>
						    </div>
						    <div class="form-group">
						      <label for="pwd">Create Password: <span>*</span></label>
						      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="newpwd.password">
						    </div>
						     <div class="form-group">
						      <label for="pwd">Confirm Password: <span>*</span></label>
						      <input type="password" class="form-control" id="confirmPassword" placeholder="Re-Enter password" name="confirmPassword" ng-model="newpwd.confirmPassword">
						       <span ng-show="newpwd.password!=newpwd.confirmPassword"><span ng-show="newpwdfrm.confirmPassword.$error">Please Enter correct password</span></span>
						    </div>
 						    <button type="button" class="btn btn-primary center-block"  ng-disabled="newpwdfrm.$invalid" ng-click="newpasswd()">Submit</button>
 						    <span><a class="pull-left" ui-sref="/login">Login Here</a></span>
                    </form>
			</div>

			<div class="col-md-4 col-sm-4"></div>
		</div>
		
		<footer>
		<p class="clrhdng text-center"> <span class="yellow" >&copy 2011-2018</span> Ojas Innovative
						Technologies. All rights reserved.</p>
		</footer>
	</div>
		  