<div class="container-fluid height_login">
		
		<div class="row">
			<div class="col-md-5 col-sm-5 pull-left" >
				<img src="ojas-logo.png" alt="Ojas" class="img-responsive"
						width="180px" height="150px">
			</div>
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-5 col-sm-5 para">
				<p class="pull-right"><span class="yellow">Experience Certainty:</span>IT Services Business Solutions
					Consulting Services</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-4 login">
						<h2 class="h2">Forgot Password Page</h2>
		                     <form name="forgotform" >
								     <div class="form-group">
								      <label for="email">Email Id:</label>
								      <input type="email" class="form-control" id="email" placeholder="Enter email id" name="email" ng-model="forgtform.email" required>
								    <span  ng-show=" frmv.email.$touched &&  frmv.email.$error.required">*
											Email id is required</span>
								    </div>
		 						    <button type="button" class="btn btn-primary center-block"  ng-disabled="forgotform.$invalid" ng-click="forgotpwd()">Submit</button>
		 						    <span><a class="pull-left" ui-sref="/login">Login Here</a></span>
		                    </form>
					</div>

			<div class="col-md-4 col-sm-4"></div>
		</div>
		
		<footer>
		<p class="clrhdng text-center"> <span class="yellow" >&copy 2011-2018</span> Ojas Innovative
						Technologies. All rights reserved.</p>
		</footer>
	</div>