<div class="col-md-12 pdng margin_set">
<div class="row form-group">
<div class="col-md-offset-3 col-md-6  text-center">
<button class="btn btn-lg outline"  ng-click="hrservicesfun()" ui-sref="raiseticket.raiseticketpage" >HR Services</button>
</div>
<div class="col-md-offset-3 col-md-6 text-center margin_services">
<button class="btn btn-lg outline" ng-click="salesservicesfun()"ui-sref="raiseticket.raiseticketpage">Sales Services</button>
</div>
</div>
<div class="row form-group">
<div class="col-md-offset-3 col-md-6  text-center margin_services">
<button class="btn btn-lg outline" ng-click="Itservicesfun()" ui-sref="raiseticket.raiseticketpage">IT Services</button>
</div> 
<div class=" col-md-offset-3 col-md-6 text-center margin_services">
<button class="btn btn-lg outline" ng-click="financialservicesfun()" ui-sref="raiseticket.raiseticketpage">Financial Services</button>
</div>
</div> 
<div class="row form-group"> 
<div class=" col-md-offset-3 col-md-6 form-group text-center margin_services">
<button class="btn btn-lg outline" ng-click="managementservicesfun()" ui-sref="raiseticket.raiseticketpage">Management Services</button>
</div>
<div class="col-md-offset-3 col-md-6 text-center margin_services">
<button class="btn btn-lg outline" ng-click="staffingservicesfun()" ui-sref="raiseticket.raiseticketpage">Staffing Services</button>

</div>
</div>
</div>
